---
layout: page
title: 古诗佳话
permalink: /jiaH/
---

{% for tag in site.tags %}
  {% if tag[0] == '佳话' %}
  <ul class="tag">
    {% for post in tag[1] %}
    {% if post.title != null %}
    <li>
      {% if post.link %}
      <a href="{{ post.link }}">
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          {% endif %}
          {{ post.title }}
        </a>
        <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
</div>
